<footer class = "footer bg-black text-white container-fluid text-center">
    <div class="row mb-2 mt-5">
        <div class="col-sm-3 links"></div>
        <div class="col-sm-6 links">
            <a href="/" class="footer-links">Home</a> | 
            <a href="/news" class="footer-links">Articles</a>
        </div>
        <div class="col-sm-3 links"></div>
    </div>
    <div class="row">
        <div class="col-sm-3 links text-left"></div>
        <div class="col-sm-6 links text-left">
            <a href="/join" class="footer-links">Join us</a> | 
            <a href="/contact" class="footer-links">Contact us</a>
        </div>
        <div class="col-sm-3 links text-left"></div>
    </div>

    <div class="footer-text text-center container-fluid p-4">Copyright &copy; <%= new Date().getFullYear(); %> CRPG Tavern inc.</div>
    
</footer>