<header class = "header">
    <a href="/admin" class = "header__logo">Admin Panel</a>

    <nav class = "header__nav">
        <ul>
            <li>
                <a href = "/" class = ""> Home </a>
            </li>
            <!-- <li>
                <a href = "/database" class = ""> Database </a>
            </li> -->
            <li>
                <a href = "/news" class = ""> News </a>
            </li>
            <li>
                <a href = "/contact" class = ""> Contact Us </a>
            </li>
        </ul>
    </nav>

    <div class = "header__button">
        <a href="/logout">Logout</a>
    </div>
</header>