<div class="homePage">
    <div class="container-xl">
        <div class="empty-sm"></div>

        <div class="container-fluid m-3">
            <h1 class="RPG-Articles mb-3">Latest Articles</h1>
            <p class="introduction">
                Browse our latest articles
            </p>
            <div class="row">
                <% latestPost.forEach(post => { %>
                    
                    <div class="col-md-3 text-center post-box">
                        <a href="/post/<%= post._id %>/<%= post.title.replace(/ /g,"-") %>" class="post-link h-100 d-inline-block">
                            <div class="container-fluid shadow mt-3 pt-4 pb-2 h-100">
                                <img src="/img/<%= post.imgPath %>" class="rounded post-img lazy">
                                <h3 class="box-title m-3"><%= post.title %></h3>
                            </div>
                        </a>
                    </div>
                    
                <% }) %>
            </div>
            <div class="empty-sm"></div>
            <p class="introduction">
                <a href="/news" class="view-all">View all</a>
            </p>
        </div>

        <div class="empty-sm"></div>

        <div class="container-fluid m-3 mb-5">
            <div class="h-right">
                <h1 class="mb-4 h-right justify-content-end">RPG Database</h1>
            </div>
            
            <div class="row">
                <div class="col-md-4 text-center my-auto">
                    <a class="btn btn-secondary text-center" href="#">View Database</a>
                </div>

                <div class="col-md-8 text-end align-middle">
                    <p class="p-right">
                        Coming soon
                    </p>
                </div>
                
            </div>
        </div>

        <div class="empty-sm"></div>

        <div class="container-fluid m-3 mb-5 mt-5">
            <h1 class="mb-4">Our Goal</h1>
            <div class="row">
                <div class="col-md-8">
                    <p class="introduction">
                        CRPG tavern was created to provide a reliable source of news, reviews and general information about RPGs with a focus on CRPGs. Computer RPG was the name given to role playing video games that were heavily inspired by Table top roleplaying games (TTRPGs). The sub-genre has then evolved to refer to narrative RPGs that have an emphasis on roleplaying, player choice and consequence, and character customization. They often involve deep Roleplaying mechanics that lead to build complexity and meaningful choices. Our Articles contain the latest updates regarding the recently booming CRPG industry. Database of CRPGs coming soon.
                    </p>
                    <p class="introduction">
                        If you wish to work with us, then contact us <a href="/join">here</a>
                    </p>
                </div>
                <div class="col-md-4 text-center my-auto">
                    <a class="btn btn-secondary text-center" href="/news">View Articles</a>
                </div>
            </div>
        </div>

        <div class="empty-sm"></div>


        
    </div>
    <div class="empty-sm"></div>

</div>

