<div class="container-xl joinPage">
    <div class="container-fluid mt-5 mb-5">
        <h1>Join Us</h1>
        <p class="introduction">
            To contribute to CRPG tavern, send us a mail at <a href = "mailto:crpgtavern@gmail.com">crpgtavern@gmail.com</a>.<br>
            Include the reason that you want to work with us along with any previous experiences. Mention your experience with RPGs and CRPGs, along with your favorites.
        </p>
    </div>
</div>